.container {
    width: 80%;
    margin: 20px auto;
    text-align: center;
    font-family: Arial, sans-serif;
}


h1 {
    margin-bottom: 20px;
}


.add-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-button:hover {
    background-color: #0056b3;
}


.employee-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.employee-table th,
.employee-table td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
}

.employee-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.employee-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.employee-table tr:hover {
    background-color: #f1f1f1;
}


.action-button {
    padding: 8px 12px;
    margin: 0 5px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
    text-decoration: none;

}

.action-button.view {
    background-color: #4cacbb;
    color: white;
}

.action-button.view:hover {
    background-color: #3b757e;
}

.action-button.update {
    background-color: #28a745;
    color: white;
}

.action-button.update:hover {
    background-color: #218838;
}

.action-button.delete {
    background-color: #dc3545;
    color: white;
}

.action-button.delete:hover {
    background-color: #bd2130;
}